<%= partials.header %>

<%= partials.getting_started %>

<%= partials.the_task %>

<%= partials.options %>

<%= partials.examples %>

<%= partials.contributing %>

<%= partials.history %>

<%= partials.license %>

<%= partials.links %>
