###Linux###

.*
!.gitignore
!.editorconfig
!.jshintrc
!.npmignore
*~


###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

###SublimeText###

# SublimeText project files
grunt-bumpx.sublime-*
