<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://github.github.com/github-flavored-markdown/shared/css/documentation.css">
	</head>
	<body>
		<div id="wrapper" class="content">
			<%=content%>
		</div>
	</body>
</html>
